# Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# Mac hidden files
.DS_Store

# Compiled app
wtfTwtDebug

# Persistent
images/**

# Configuration & Deploy
.config.json
/.config_production.json
/Caddyfile
/scripts/release.sh

# Notes
/notes.md
